body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    background: whitesmoke;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto; /*позиционирование по центру*/
}

h1 {
    color: white;
    font-size: 1.5em;
    margin-right: 90px;
    margin-left: 30px;
    text-transform: uppercase;
}

.header {
    background: url("11111.png") no-repeat center top / cover;
}

header a {
    color: white;
    margin: 0 auto;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 55px;
}

.nav {
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 0 auto;
}

.tel {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 0.1em;
}

svg {
    padding-left: 40px;
}

.sect {
    height: 1200px;
}

.sect2 {
    height: 1000px;
}

.sect3 {
    height: 900px;
}

h2, h4, h5 {
    font-size: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

h3 {
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color: white;
    background: #003a00;
    font-weight: lighter;
}

div.home {
    width: 1100px;
    height: 400px;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

div.home1 {
    width: 1100px;
    height: 400px;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

div.prsl {
    width: 900px;
    height: 700px;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

div.equip {
    width: 900px;
    height: 600px;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 20px #ccc;
}

p {
    font-size: 18px;
}

img {
    padding-right: 10px;
    padding-top: 20px;
}
.ph {
    padding-top: 50px;
}

footer {
    background: #003a00;
    height: 300px;
}