body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto; /*позиционирование по центру*/
}

h1 {
    color: white;
    font-size: 1.5em;
    margin-right: 90px;
    margin-left: 10px;
    text-transform: uppercase;
}

.header {
    background: url("11111.png") no-repeat center top / cover;
}

header a {
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 55px;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin: auto;
}

.tel {
    font-size: 20px;
    text-decoration: none;
    margin-left: 60px;
    letter-spacing: 0.1em;
}

.sect {
    height: 1700px;
}

h2 {
    font-size: 45px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

div.home {
    width: 1000px;
    height: 400px;
    display: flex;
    padding: 35px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 20px #ccc;
}

p {
    font-size: 22px;
}

img {
    width: 100%;
    max-width: 500px;
    padding: 10px;
}
